.sidebar{

width:260px;

height:100vh;

background:#1E293B;

color:white;

padding:20px;

position:sticky;

top:0;

}

.logo{

font-size:24px;

margin-bottom:40px;

text-align:center;

}

.menu{

display:flex;

flex-direction:column;

gap:10px;

}

.menu-item{

display:flex;

align-items:center;

gap:15px;

padding:12px;

color:white;

text-decoration:none;

border-radius:8px;

transition:.3s;

}

.menu-item:hover{

background:#334155;

}

.active{

background:#0D6EFD;

}

.icon{

font-size:18px;

}